.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(7 * #{$calendarDaySize} + 8px);

  &__day {
    @include centeredFlex;
    display: none;

    margin: 1px 0 0 1px;
    width: $calendarDaySize;
    height: $calendarDaySize;
  
    background-color: #eee;
    border: 1px solid black;
  }
  
  &__day:hover {
    animation-name: jumpup;
    animation-duration: 0.5s;
  }
  
  @keyframes jumpup {
    100% {
      position: relative;
      bottom: 20px;
      background-color: pink;
    }
  }
  
  @for $i from 1 through 31 {
  
    &__day:nth-child(#{$i}):before {
      content: "" + $i;
    }
  
  }
  
  $mon_days: (28, 29, 30, 31);
  
  @each $amount in $mon_days {
  
    $child : $amount + 1;
    .calendar-#{$amount} &__day:nth-child(-n + #{$amount}) {
      display: block;
    }
      
  }
  
  $start_days: (
    1 : "mon", 
    2 : "tue", 
    3 : "wed", 
    4 : "thu", 
    5 : "fri", 
    6 : "sat", 
    7 : "sun"
  );
  
  @each $num, $day in $start_days {
    
    .calendar-#{$day} &__day:first-child {
      margin-left: ($num - 1) * $calendarDaySize + $num;
    }
  
  }
  
}
