.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: getCalendarWidth( $daySize, $dayGap, $calendarPadding );
  padding: $calendarPadding;
  margin: auto;
  gap: $dayGap;
  &__day {
    @include daySize($daySize);
    background-color: #eee;
    border: 1px solid black;
    text-align: center;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      background-color: pink;
      transform: translateY(-20px);
    }

    &:nth-child(n)::before {
      font-size: 30px;
      line-height: 100px;
      font-family: Arial, Helvetica, sans-serif;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i}) {
        &::before {
          content: "#{$i}";
        }
      }
    }

    @each $day, $order in $week {
      &_start-day_#{$day} {
        margin-left: getFirstDayShift( $daySize, $dayGap, $order );
      }
    }
  }

  @for $num from 28 to 31 {
    &_month-length_#{$num} :nth-child(n+#{$num+1}) {
      display: none;
    }
  }
}
